body{
  margin: 1;

  text-align: center;
  /* font-family: 'Inconsolata', monospace; */
}

a{
  text-decoration: none;
  color: #36AEE0;
  /* font-family: 'Saira Semi Condensed', sans-serif; */
}
a:hover{
  text-decoration: underline;
  color: white;
  font-style: italic;
  text-shadow: -2px 2px black;
}

.projects{
  text-align: left;
}

hr{
  /*background-color: none; not using this line of code*/
  border-style: none;
  border-top: dotted;
  border-width: 7px;
  border-color: black;
  height: 0;
  width: 40%;
}

h1{
  color: #89a3b2;
  /* font-family: 'Special Elite', cursive; */
}


h3{
  color: black;
  /* font-family: 'Cinzel', serif; */
}

p{
  color: white;
}

.projects{
 color: inherit;
}

.heading{
  margin-top: 50px;
  display: block;
}

/* Front Page Image*/
.frontpage{
  left:10px;
  border-style: solid;
  border-color: transparent;
  border-radius:200px;
}

.frontpage:hover{
  box-shadow: 10px 10px 5px #ccc;
  border-width: -1px;
}

.top-index{
  background-color: #3c70a4;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 75px;
  display: flex;
  justify-content: flex-end;
}

.top{
  background-color: #3c70a4;
  border-radius: 10px;
}



.skills{
  padding: 20px;
  display: inline-table;
  width: 20%;
}


.footer{
  border-radius: 20px;
  padding-left: 20px;

}

.git{

  position: relative;
  top: 10px;
  height: 120px;
  border-radius: 200px;
  border-style: solid;
  border-color: transparent;
}

.git:hover{
  box-shadow: 5px 5px 2.5px #ccc;

  border-width: -1px;
}

.linked{
  height: 130px;
}

.exp-table{
  width: 80%;
  display: inline-table;
  align-items: center;
}

.work{
  width: 230px;
  border-radius: 100px;
  right: 100px;
}

.skill-image{
  width: 170px;
  height: 170px;
  border-radius: 200px;
  border-style: solid;
  border-color: transparent;
}

.skill-image :hover{
  border-color: white;
}


.a-me{
  /* font-family: 'Saira Semi Condensed', sans-serif; */
  text-decoration: none;
  color: white;
}

.button {
  background: #0783d6;
  background-image: -webkit-linear-gradient(top, #0783d6, #1a4f70);
  background-image: -moz-linear-gradient(top, #0783d6, #1a4f70);
  background-image: -ms-linear-gradient(top, #0783d6, #1a4f70);
  background-image: -o-linear-gradient(top, #0783d6, #1a4f70);
  background-image: linear-gradient(to bottom, #0783d6, #1a4f70);
  display: inline-block;
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #0e5c8c;
  background-image: -webkit-linear-gradient(top, #0e5c8c, #3498db);
  background-image: -moz-linear-gradient(top, #0e5c8c, #3498db);
  background-image: -ms-linear-gradient(top, #0e5c8c, #3498db);
  background-image: -o-linear-gradient(top, #0e5c8c, #3498db);
  background-image: linear-gradient(to bottom, #0e5c8c, #3498db);
  text-decoration: none;
}

.email{
  display: inline-block;
}

.me{
  display: inline-flex;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.image-me{
  height: 9me00px;
  margin-bottom: 10px;
}

.socialimg{
  width: 40px;
  height: 40px

}

.moo .mootext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 45px;
  z-index: 5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.moo:hover .mootext {
  visibility: visible;
}

.linkme div{
  display: inline-block;
  position: relative;
  padding-bottom: 1em;
}

.focus{
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

form textarea{
  border-radius: 10px;
  border-style: double;
}

form input{
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

form label{
  color: black;
}

.myDescription{
  text-align: left;
  border-style: hidden;
}

.two{
  display: flex;
}
