body{
  margin: 1;
  background-color: #36AEE0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

hr{
  /*background-color: none; not using this line of code*/
  border-style: none;
  border-top: dotted;
  border-width: 7px;
  border-color: #f9f7f7;
  height: 0;
  width: 40%;
}

h1{
  font-size: 2em;
  color: #89a3b2;
  font-family: 'Special Elite', cursive;
}

h2{
  color: #355c7d;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.help{
  color: #89a3b2;
}

h3{
  color: #537d91;
  font-family: 'Cinzel', serif;
}

p{
  color: white;
}

.heading{
  position: relative;
  top: .5em;
}

/* Front Page Image*/
.frontpage{
  border-style: solid;
  border-color: transparent;
  border-radius:200px;
}

img:hover{
  border-color: #2d4059;
}

.top-index{
  background-color: #3c70a4;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-around;

}

.top{
  background-color: #3c70a4;
  border-radius: 10px;

}

.mid-table{
    display: inline-block;
}

.bottom{
  border-radius: 20px;
  background-color: #2d4059;
  padding-left: 20px;
}

.git{
  position: relative;
  top: 10px;
  height: 150px;
  border-radius: 200px;
  border-style: solid;
  border-color: transparent;
}

.work{
  width: 230px;
  border-radius: 100px;
  right: 100px;
}

.skill-image{
  width: 170px;
  height: 170px;
  border-radius: 200px;
  border-style: solid;
  border-color: transparent;
}

.a-link{
  font-family: 'Saira Semi Condensed', sans-serif;
  text-decoration: none;
  color: #537d91;
}

.a-me{
  font-family: 'Saira Semi Condensed', sans-serif;
  text-decoration: none;
  color: white;
}

.button {
  background: #0783d6;
  background-image: -webkit-linear-gradient(top, #0783d6, #1a4f70);
  background-image: -moz-linear-gradient(top, #0783d6, #1a4f70);
  background-image: -ms-linear-gradient(top, #0783d6, #1a4f70);
  background-image: -o-linear-gradient(top, #0783d6, #1a4f70);
  background-image: linear-gradient(to bottom, #0783d6, #1a4f70);
  display: inline-block;
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #0e5c8c;
  background-image: -webkit-linear-gradient(top, #0e5c8c, #3498db);
  background-image: -moz-linear-gradient(top, #0e5c8c, #3498db);
  background-image: -ms-linear-gradient(top, #0e5c8c, #3498db);
  background-image: -o-linear-gradient(top, #0e5c8c, #3498db);
  background-image: linear-gradient(to bottom, #0e5c8c, #3498db);
  text-decoration: none;
}

.email{
  font-family: 'Saira Semi Condensed', sans-serif;
}
